.App {
  text-align: center; /*test*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Pagination button style */
.pagination a {
  padding: 8px 16px;
  border: 1px solid #ddd;
  margin: 0 5px;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
}

.pagination a:hover {
  background-color: #ff6347;
  color: white;
}
body, html {
  height: 100%;  /* Ensure the page takes the full height of the browser */
  margin: 0;
}

.App {
  min-height: 100%; /* Ensure the app takes the full height */
  display: flex;
  flex-direction: column; /* Arrange content vertically */
}

.content {
  flex: 1; /* Make the content area flexible so it can grow */
  padding-bottom: 80px; /* To avoid overlap with footer */
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 1rem;
}
